#mongodb
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=%mongodb_root_password%
MONGO_USER_DB=scada
MONGO_USER_USERNAME=dbuser
MONGO_USER_PASSWORD="%mongodb_password%"
MONGO_REPLICA_SET_NAME=rs0

#redis
REDIS_PASSWORD="%redis_password%"

#influxdb
INFLUXDB_DATA_ENGINE=tsm1
INFLUXDB_REPORTING_DISABLED=true
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=administrator
DOCKER_INFLUXDB_INIT_ORG=scada
DOCKER_INFLUXDB_INIT_BUCKET=bucket_1
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN="%influxdb_token%"

# grafana
GF_INSTALL_PLUGINS=
