/* ================================================================== */
/* Draw toolbar
/* ================================================================== */

.leaflet-draw-toolbar .leaflet-draw-draw-svg {
	background-image: url('images/svg-icon.png');
	background-image: linear-gradient(transparent, transparent), url('images/svg-icon.svg');
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-clip: padding-box;
/*	background-position: -122px -2px;*/
}

/* ================================================================== */
/* Edit styles
/* ================================================================== */

.leaflet-edit-svg-selected {
	outline:2px dashed rgba(254, 87, 161, 0.6);
}

